* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
}

.bg-image {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:767px) {
    .bg-image {
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 55vh;
    }
}

.container {
    border: none;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px hsl(245, 75%, 52%, 10%);
    width: fit-content;
}
@media (max-width:576px) {
    .container{
        width: 340px;
    }
    .container img{
        width: 340px;
    }
    .container .subscribe img {
        width: 50px;
    }
}
.container img{
    border-bottom: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.container h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.container > p {
    color: #777;
    line-height: 1.6;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.container .subscribe {
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 40px;
}

.container .subscribe img {
    margin-top: 8px;
    margin-right: 10px;
    height: 50px;
}

.container .subscribe .plan {
    flex-direction: column;
    margin: 10px;
    /* margin-right: 80px; */
}

.container .subscribe h4 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.container .subscribe .price {
    color: #777;
    font-size: 14px;
}

.container .subscribe .change {
    margin: 25px 0 0 20px;
    text-decoration: underline;
    color: var(--bright-blue);
    font-size: 14px;
    flex-basis: 30%;
}
.container .buttons{
    font-family: inherit;
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-right: auto;
    margin-left: auto;
}
.container .b1{
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    box-shadow: 1px 10px 15px hsl(228, 45%, 44% , 35%);
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
@media (max-width:576px) {
    .container .b1{
        margin:10px 30px;
    }
}
.container .b2{
    cursor: pointer;
    font-size: 14px;
    background-color: hsl(225, 100%, 98%);
    border: none;
    outline: none;
    border-radius: 10px;
    color: #777;
    font-weight: bold;
    padding: 10px 20px;
    max-width: fit-content;
    margin: 10px auto 20px;
}
.container .b2:hover{
    background-color: var(--pale-blue);
    transition: 0.8s;
    margin: 10px auto 20px;
    width: fit-content;
}